@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext);
/* line 5, D:/proj/idea/musson/sass/style.sass */
body {
  font-family: "PT Sans", sans-serif;
  background: white;
  min-width: 1200px;
  min-height: 200px;
}

/* line 11, D:/proj/idea/musson/sass/style.sass */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 2, D:/proj/idea/musson/sass/_placeholderText.scss */
input.placeholder {
  color: black;
}
/* line 3, D:/proj/idea/musson/sass/_placeholderText.scss */
input:-moz-placeholder {
  color: black;
}
/* line 4, D:/proj/idea/musson/sass/_placeholderText.scss */
input::-moz-placeholder {
  color: black;
}
/* line 5, D:/proj/idea/musson/sass/_placeholderText.scss */
input:-ms-input-placeholder {
  color: black;
}
/* line 6, D:/proj/idea/musson/sass/_placeholderText.scss */
input::-webkit-input-placeholder {
  color: black;
}

/* line 24, D:/proj/idea/musson/sass/style.sass */
.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-top: 26px;
}
/* line 30, D:/proj/idea/musson/sass/style.sass */
.wrapper h2 {
  display: inline-block;
  float: left;
  margin-left: 90px;
  font-size: 24px;
  font-weight: normal;
}
/* line 37, D:/proj/idea/musson/sass/style.sass */
.wrapper .tel {
  float: right;
  background: url("../img/phone_ico.png") left center no-repeat;
  padding-left: 30px;
}
/* line 42, D:/proj/idea/musson/sass/style.sass */
.wrapper .tel h3 {
  margin: 0;
  font-size: 30px;
}
/* line 45, D:/proj/idea/musson/sass/style.sass */
.wrapper .tel p {
  margin: 0;
  font-size: 14px;
  text-align: right;
}

/* line 51, D:/proj/idea/musson/sass/style.sass */
.fl {
  float: left;
}

/* line 54, D:/proj/idea/musson/sass/style.sass */
.fr {
  float: right;
}

/* line 57, D:/proj/idea/musson/sass/style.sass */
.cb {
  clear: both;
}

/* line 60, D:/proj/idea/musson/sass/style.sass */
header {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("../img/image_top.jpg") center no-repeat;
  height: 784px;
}
/* line 65, D:/proj/idea/musson/sass/style.sass */
header .descr {
  text-align: center;
}
/* line 67, D:/proj/idea/musson/sass/style.sass */
header .descr .wrapper {
  padding-top: 10px;
}
/* line 69, D:/proj/idea/musson/sass/style.sass */
header .descr .wrapper h2 {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}
/* line 75, D:/proj/idea/musson/sass/style.sass */
header .descr .wrapper h3 {
  font-size: 24px;
  display: inline-block;
  margin: 0;
  font-weight: normal;
}

/* line 82, D:/proj/idea/musson/sass/style.sass */
input {
  height: 33px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.55);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.55);
  margin: 0 5px;
}

/* line 91, D:/proj/idea/musson/sass/style.sass */
.form-cond .wrapper, #feedback .wrapper {
  position: relative;
  height: 588px;
  padding-top: 265px;
}
/* line 95, D:/proj/idea/musson/sass/style.sass */
.form-cond .wrapper .shadow, #feedback .wrapper .shadow {
  position: absolute;
  background: url("../img/shadow.png") no-repeat;
  width: 510px;
  height: 48px;
  bottom: 32px;
  left: 49%;
}
/* line 103, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-block, #feedback .form-block {
  width: 510px;
  height: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top left, #f0f0f0, #e1e1e1);
  background: -moz-linear-gradient(top left, #f0f0f0, #e1e1e1);
  background: -o-linear-gradient(top left, #f0f0f0, #e1e1e1);
  background: linear-gradient(top left, #f0f0f0, #e1e1e1);
  background-color: #e1e1e1;
}
/* line 116, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner, #feedback .form-inner {
  width: 495px;
  height: 240px;
  border: solid 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 4px auto;
}
/* line 122, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .caption, #feedback .form-inner .caption {
  width: 295px;
  padding-left: 36px;
}
/* line 125, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .caption p, #feedback .form-inner .caption p {
  text-transform: uppercase;
  font-size: 26px;
  display: inline-block;
  font-weight: bold;
  width: 230px;
  margin-bottom: 19px;
  float: left;
  line-height: 1.2em;
}
/* line 134, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .caption h6, #feedback .form-inner .caption h6 {
  font-size: 11px;
  margin: 1.6em 0;
}
/* line 137, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .message, #feedback .form-inner .message {
  text-align: center;
}
/* line 139, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .message .free, #feedback .form-inner .message .free {
  background-image: url(../img/free.png);
  width: 123px;
  height: 33px;
  margin: 24px auto 0 27px;
}
/* line 144, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .message h4, #feedback .form-inner .message h4 {
  font-size: 18px;
  text-decoration: line-through;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
}
/* line 150, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .message .button, #feedback .form-inner .message .button {
  height: 78px;
  border: 1px ridge transparent;
  display: block;
  width: 148px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-left: 16px;
  background: orangered;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8600), color-stop(100%, #e02200));
  background: -webkit-linear-gradient(top, #ff8600, #e02200);
  background: -moz-linear-gradient(top, #ff8600, #e02200);
  background: -o-linear-gradient(top, #ff8600, #e02200);
  background: linear-gradient(top, #ff8600, #e02200);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
}
/* line 161, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .message .button:hover, #feedback .form-inner .message .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fb50b), color-stop(100%, #417300));
  background: -webkit-linear-gradient(top, #6fb50b, #417300);
  background: -moz-linear-gradient(top, #6fb50b, #417300);
  background: -o-linear-gradient(top, #6fb50b, #417300);
  background: linear-gradient(top, #6fb50b, #417300);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  background-color: green;
}
/* line 166, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .message .button .arrow, #feedback .form-inner .message .button .arrow {
  background-image: url(../img/arrow.png);
  width: 36px;
  height: 33px;
  position: absolute;
  bottom: 138px;
  right: 32px;
}
/* line 174, D:/proj/idea/musson/sass/style.sass */
.form-cond .form-inner .message .button .btn, #feedback .form-inner .message .button .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 140px;
  line-height: 90%;
  height: 70px;
  margin: 3px auto;
  border: dotted 1px white;
  color: white;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
}
/* line 191, D:/proj/idea/musson/sass/style.sass */
.form-cond input, #feedback input {
  width: 260px;
  display: block;
  margin: auto auto 12px;
}
/* line 196, D:/proj/idea/musson/sass/style.sass */
.form-cond input.name, #feedback input.name {
  background: white 10px 8px;
  padding-left: 8px;
  font-size: 14px;
  font-style: italic;
  color: black;
  font-weight: bold;
}
/* line 203, D:/proj/idea/musson/sass/style.sass */
.form-cond input.phone, #feedback input.phone {
  background: white 10px 8px;
  padding-left: 8px;
  font-size: 14px;
  font-style: italic;
  color: black;
  font-weight: bold;
}

/* line 212, D:/proj/idea/musson/sass/style.sass */
.benefits {
  height: 154px;
  padding-top: 18px;
}
/* line 215, D:/proj/idea/musson/sass/style.sass */
.benefits .wrapper {
  padding-left: 15px;
}
/* line 218, D:/proj/idea/musson/sass/style.sass */
.benefits .experience {
  background: url(../img/experience.png) left center no-repeat;
  width: 79px;
  height: 76px;
  padding-right: 294px;
}
/* line 223, D:/proj/idea/musson/sass/style.sass */
.benefits .experience h3 {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  margin-top: 12px;
  margin-left: 90px;
}
/* line 231, D:/proj/idea/musson/sass/style.sass */
.benefits .equipment {
  background: url(../img/equipment.png) left center no-repeat;
  width: 77px;
  height: 76px;
  padding-right: 407px;
}
/* line 236, D:/proj/idea/musson/sass/style.sass */
.benefits .equipment h3 {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  margin-top: 12px;
  margin-left: 90px;
  width: 244px;
}
/* line 243, D:/proj/idea/musson/sass/style.sass */
.benefits .quality {
  background: url(../img/quality.png) left center no-repeat;
  width: 75px;
  height: 76px;
}
/* line 248, D:/proj/idea/musson/sass/style.sass */
.benefits .quality h3 {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  margin-top: 12px;
  margin-left: 90px;
  width: 244px;
}

/* line 255, D:/proj/idea/musson/sass/style.sass */
.aboutUs {
  text-align: center;
}
/* line 259, D:/proj/idea/musson/sass/style.sass */
.aboutUs h2 {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  float: none;
  line-height: 1.1em;
}

/* line 267, D:/proj/idea/musson/sass/style.sass */
.ourWorks {
  margin-top: -5px;
}
/* line 269, D:/proj/idea/musson/sass/style.sass */
.ourWorks .forHome {
  background: url(../img/forHome.png) center no-repeat;
  width: 505px;
  height: 537px;
}
/* line 273, D:/proj/idea/musson/sass/style.sass */
.ourWorks .forOffice {
  background: url(../img/forOffice.png) center no-repeat;
  width: 495px;
  height: 537px;
}

/* line 279, D:/proj/idea/musson/sass/style.sass */
.shadowWide {
  background: url(../img/shadowWide.png) bottom no-repeat;
  height: 41px;
  width: 1000px;
  position: relative;
  margin: 44px auto auto;
}

/* line 286, D:/proj/idea/musson/sass/style.sass */
.formWide {
  background: url(../img/backgroundFormWide.png);
  height: 244px;
}
/* line 290, D:/proj/idea/musson/sass/style.sass */
.formWide .formWideBlock {
  margin: auto;
  width: 960px;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: 45px;
  background-color: #e1e1e1;
  padding-top: 1px;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top left, #f0f0f0, #e1e1e1);
  background: -moz-linear-gradient(top left, #f0f0f0, #e1e1e1);
  background: -o-linear-gradient(top left, #f0f0f0, #e1e1e1);
  background: linear-gradient(top left, #f0f0f0, #e1e1e1);
}
/* line 301, D:/proj/idea/musson/sass/style.sass */
.formWide .formWideBlock .caption {
  width: 295px;
  padding-left: 36px;
}
/* line 304, D:/proj/idea/musson/sass/style.sass */
.formWide .formWideBlock .caption .free {
  background: url(../img/free.png);
  position: relative;
  top: 50px;
  left: 623px;
  width: 123px;
  height: 33px;
}
/* line 312, D:/proj/idea/musson/sass/style.sass */
.formWide .formWideBlock .caption p {
  text-transform: uppercase;
  font-size: 26px;
  display: inline-block;
  font-weight: bold;
  width: 860px;
  margin-bottom: 19px;
  margin-top: 20px;
  float: left;
  line-height: 1.2em;
}
/* line 328, D:/proj/idea/musson/sass/style.sass */
.formWide .formWideBlock .caption {
  text-align: center;
}
/* line 335, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner {
  width: 950px;
  height: 190px;
  border: solid 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 4px auto;
}
/* line 341, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner input {
  width: 260px;
  display: block;
  margin: auto auto 12px;
}
/* line 346, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner input.name {
  background: white 10px 8px;
  padding-left: 8px;
  font-size: 14px;
  font-style: italic;
  color: black;
  font-weight: bold;
  margin-left: 70px;
}
/* line 354, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner input.phone {
  background: white 10px 8px;
  padding-left: 8px;
  font-size: 14px;
  font-style: italic;
  color: black;
  font-weight: bold;
  margin-left: 15px;
}
/* line 362, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner h6 {
  position: relative;
  bottom: 16px;
  right: 534px;
  display: inline-block;
}
/* line 367, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner .button {
  height: 40px;
  border: 1px ridge transparent;
  display: block;
  width: 250px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: -4px;
  background: orangered;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8600), color-stop(100%, #e02200));
  background: -webkit-linear-gradient(top, #ff8600, #e02200);
  background: -moz-linear-gradient(top, #ff8600, #e02200);
  background: -o-linear-gradient(top, #ff8600, #e02200);
  background: linear-gradient(top, #ff8600, #e02200);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
}
/* line 379, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fb50b), color-stop(100%, #417300));
  background: -webkit-linear-gradient(top, #6fb50b, #417300);
  background: -moz-linear-gradient(top, #6fb50b, #417300);
  background: -o-linear-gradient(top, #6fb50b, #417300);
  background: linear-gradient(top, #6fb50b, #417300);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  background-color: green;
}
/* line 384, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner .button .arrow {
  background-image: url(../img/arrow.png);
  width: 36px;
  height: 33px;
  position: absolute;
  bottom: 55px;
  right: 70px;
}
/* line 392, D:/proj/idea/musson/sass/style.sass */
.formWide .formInner .button .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 243px;
  line-height: 90%;
  height: 32px;
  margin: 3px auto 4px 3px;
  padding-left: 8px;
  padding-bottom: 5px;
  border: dotted 1px white;
  color: white;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
}

/* line 408, D:/proj/idea/musson/sass/style.sass */
.whats {
  height: 896px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5fcfc), color-stop(100%, #e1e8e8));
  background: -webkit-linear-gradient(top, #f5fcfc, #e1e8e8);
  background: -moz-linear-gradient(top, #f5fcfc, #e1e8e8);
  background: -o-linear-gradient(top, #f5fcfc, #e1e8e8);
  background: linear-gradient(top, #f5fcfc, #e1e8e8);
  padding-top: 35px;
  border-bottom: solid 3px grey;
}
/* line 413, D:/proj/idea/musson/sass/style.sass */
.whats .items {
  padding-top: 55px;
  width: 980px;
  margin: 0 auto;
}
/* line 418, D:/proj/idea/musson/sass/style.sass */
.whats .item-block-button {
  margin-left: 90px;
}
/* line 421, D:/proj/idea/musson/sass/style.sass */
.whats .item-block {
  float: left;
}
/* line 424, D:/proj/idea/musson/sass/style.sass */
.whats .item-block p {
  font-size: 16px;
  line-height: 1.2em;
}
/* line 428, D:/proj/idea/musson/sass/style.sass */
.whats .item-block h3 {
  text-transform: uppercase;
  display: inline-block;
  width: 362px;
  margin: 0;
  font-size: 18px;
}
/* line 434, D:/proj/idea/musson/sass/style.sass */
.whats .item-block img {
  float: left;
  margin-bottom: 90px;
  margin-right: 30px;
}
/* line 438, D:/proj/idea/musson/sass/style.sass */
.whats .button {
  height: 76px;
  border: 1px ridge transparent;
  display: block;
  width: 332px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: -4px;
  background: orangered;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8600), color-stop(100%, #e02200));
  background: -webkit-linear-gradient(top, #ff8600, #e02200);
  background: -moz-linear-gradient(top, #ff8600, #e02200);
  background: -o-linear-gradient(top, #ff8600, #e02200);
  background: linear-gradient(top, #ff8600, #e02200);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
}
/* line 450, D:/proj/idea/musson/sass/style.sass */
.whats .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fb50b), color-stop(100%, #417300));
  background: -webkit-linear-gradient(top, #6fb50b, #417300);
  background: -moz-linear-gradient(top, #6fb50b, #417300);
  background: -o-linear-gradient(top, #6fb50b, #417300);
  background: linear-gradient(top, #6fb50b, #417300);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  background-color: green;
}
/* line 455, D:/proj/idea/musson/sass/style.sass */
.whats .button .arrow {
  background-image: url(../img/arrow.png);
  width: 36px;
  height: 33px;
  position: relative;
  bottom: 35px;
  left: 303px;
}
/* line 462, D:/proj/idea/musson/sass/style.sass */
.whats .button .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 326px;
  line-height: 90%;
  height: 70px;
  margin: 2px auto 4px 2px;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-right: 22px;
  border: dotted 1px white;
  color: white;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
}
/* line 479, D:/proj/idea/musson/sass/style.sass */
.whats .descr {
  width: 480px;
  height: 166px;
}

/* line 484, D:/proj/idea/musson/sass/style.sass */
.reasons {
  height: 165px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f2fe), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #e5f2fe, #ffffff);
  background: -moz-linear-gradient(top, #e5f2fe, #ffffff);
  background: -o-linear-gradient(top, #e5f2fe, #ffffff);
  background: linear-gradient(top, #e5f2fe, #ffffff);
}
/* line 488, D:/proj/idea/musson/sass/style.sass */
.reasons .wrapper h2 {
  float: none;
  font-weight: bold;
  font-size: 48px;
  margin-left: 22px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 495, D:/proj/idea/musson/sass/style.sass */
.reasons .wrapper p {
  display: inline-block;
  margin: 0;
  width: 152px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 1.1em;
}
/* line 504, D:/proj/idea/musson/sass/style.sass */
.reasons h2 {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  float: none;
  line-height: 1.1em;
}

/* line 511, D:/proj/idea/musson/sass/style.sass */
.photo {
  text-align: center;
}
/* line 515, D:/proj/idea/musson/sass/style.sass */
.photo h2 {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  float: none;
  line-height: 1.1em;
}
/* line 522, D:/proj/idea/musson/sass/style.sass */
.photo .gallery {
  width: 943px;
  height: 425px;
  margin-bottom: 20px;
}
/* line 526, D:/proj/idea/musson/sass/style.sass */
.photo .gallery .wrap {
  position: relative;
  float: left;
  width: 230px;
  margin-top: -400px;
}
/* line 531, D:/proj/idea/musson/sass/style.sass */
.photo .gallery .wrap .scrollbar {
  width: 10px;
  height: 400px;
  position: relative;
  left: 258px;
  top: 400px;
}
/* line 537, D:/proj/idea/musson/sass/style.sass */
.photo .gallery .wrap .scrollbar .handle {
  cursor: pointer;
  width: 100%;
  height: 100px;
  background: #222222;
}
/* line 542, D:/proj/idea/musson/sass/style.sass */
.photo .gallery .wrap .scrollbar .handle .mousearea {
  position: absolute;
  top: 0;
  left: -10px;
  width: 22px;
  height: 100%;
}
/* line 548, D:/proj/idea/musson/sass/style.sass */
.photo .gallery .wrap .frame {
  padding: 0;
  width: 300px;
  height: 400px;
}
/* line 552, D:/proj/idea/musson/sass/style.sass */
.photo .gallery .wrap .frame .slidee {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
/* line 557, D:/proj/idea/musson/sass/style.sass */
.photo .gallery .wrap .frame .slidee li {
  float: left;
  margin: 0 0 5px 0;
  padding: 0;
  width: 100%;
  height: 100px;
}

/* line 573, D:/proj/idea/musson/sass/style.sass */
table, th {
  border: solid 1px lightgrey;
  text-align: center;
  margin-bottom: 15px;
}
/* line 579, D:/proj/idea/musson/sass/style.sass */
table th.vertical, th th.vertical {
  width: 300px;
  height: 153px;
  border: solid 1px lightgrey;
  font-size: 20px;
  text-transform: uppercase;
  vertical-align: top;
  padding: 15px;
  line-height: 1.6em;
}
/* line 589, D:/proj/idea/musson/sass/style.sass */
table th.vertical span, th th.vertical span {
  font-weight: normal;
  text-transform: none;
  margin-top: 4px;
}
/* line 593, D:/proj/idea/musson/sass/style.sass */
table th.vertical .button, th th.vertical .button {
  margin-top: 18px;
  height: 40px;
  border: 1px ridge transparent;
  display: block;
  width: 250px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 14px;
  background: orangered;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8600), color-stop(100%, #e02200));
  background: -webkit-linear-gradient(top, #ff8600, #e02200);
  background: -moz-linear-gradient(top, #ff8600, #e02200);
  background: -o-linear-gradient(top, #ff8600, #e02200);
  background: linear-gradient(top, #ff8600, #e02200);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
}
/* line 607, D:/proj/idea/musson/sass/style.sass */
table th.vertical .button:hover, th th.vertical .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fb50b), color-stop(100%, #417300));
  background: -webkit-linear-gradient(top, #6fb50b, #417300);
  background: -moz-linear-gradient(top, #6fb50b, #417300);
  background: -o-linear-gradient(top, #6fb50b, #417300);
  background: linear-gradient(top, #6fb50b, #417300);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  background-color: green;
}
/* line 612, D:/proj/idea/musson/sass/style.sass */
table th.vertical .button .arrow, th th.vertical .button .arrow {
  background-image: url(../img/arrow.png);
  width: 36px;
  height: 33px;
  position: absolute;
  bottom: 31px;
  left: 260px;
}
/* line 620, D:/proj/idea/musson/sass/style.sass */
table th.vertical .button .btn, th th.vertical .button .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 243px;
  line-height: 90%;
  height: 32px;
  margin: 3px auto 4px 3px;
  padding-left: 8px;
  padding-bottom: 5px;
  border: dotted 1px white;
  color: white;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
}
/* line 635, D:/proj/idea/musson/sass/style.sass */
table th.horizontal, th th.horizontal {
  width: 650px;
  height: 40px;
  border-bottom: 0;
  background: #eaf6fb;
  font-size: 18px;
  font-weight: normal;
}
/* line 643, D:/proj/idea/musson/sass/style.sass */
table td, th td {
  font-size: 20px;
  width: 160px;
  height: 55px;
  border-right: dotted 1px lightgrey;
  border-bottom: solid 1px lightgrey;
}
/* line 649, D:/proj/idea/musson/sass/style.sass */
table td span, th td span {
  font-weight: bold;
}

/* line 651, D:/proj/idea/musson/sass/style.sass */
.order, .orderBottom {
  background: url(../img/zakaz.jpg) center no-repeat;
  height: 610px;
  margin-top: 15px;
}
/* line 656, D:/proj/idea/musson/sass/style.sass */
.order .wrapper, .orderBottom .wrapper {
  height: 510px;
  padding-top: 100px;
}
/* line 659, D:/proj/idea/musson/sass/style.sass */
.order .wrapper h5, .orderBottom .wrapper h5 {
  display: inline-block;
  position: relative;
  top: 294px;
  left: 496px;
  font-size: 16px;
  line-height: 1.1em;
  font-weight: bold;
}
/* line 667, D:/proj/idea/musson/sass/style.sass */
.order .wrapper .shadow, .orderBottom .wrapper .shadow {
  padding-bottom: 134px;
}
/* line 673, D:/proj/idea/musson/sass/style.sass */
.order .form-cond .form-inner .message .button .arrow, .orderBottom .form-cond .form-inner .message .button .arrow, .order #feedback .form-inner .message .button .arrow, .orderBottom #feedback .form-inner .message .button .arrow {
  bottom: 218px;
}

/* line 675, D:/proj/idea/musson/sass/style.sass */
.crossLine {
  text-align: center;
  float: none;
  display: inline-block;
}
/* line 679, D:/proj/idea/musson/sass/style.sass */
.crossLine h2 {
  float: left;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 25px;
  line-height: 1.1em;
}
/* line 687, D:/proj/idea/musson/sass/style.sass */
.crossLine .dash {
  background: url(../img/dash.png) center center no-repeat;
  width: 60px;
  height: 36px;
}

/* line 691, D:/proj/idea/musson/sass/style.sass */
.partners {
  text-align: center;
  margin-top: 40px;
}
/* line 694, D:/proj/idea/musson/sass/style.sass */
.partners .hows {
  margin: 100px auto 0;
  width: 1009px;
}
/* line 699, D:/proj/idea/musson/sass/style.sass */
.partners .block p {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1em;
}

/* line 704, D:/proj/idea/musson/sass/style.sass */
.certificates {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
/* line 708, D:/proj/idea/musson/sass/style.sass */
.certificates img {
  float: left;
  margin-right: 20px;
}

/* line 711, D:/proj/idea/musson/sass/style.sass */
.belongs {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
}
/* line 715, D:/proj/idea/musson/sass/style.sass */
.belongs .formWide {
  background: white;
}
/* line 718, D:/proj/idea/musson/sass/style.sass */
.belongs img {
  float: left;
  margin-right: 30px;
  margin-bottom: 40px;
}
/* line 722, D:/proj/idea/musson/sass/style.sass */
.belongs .formWide .formInner h6 {
  right: 581px;
}

/* line 725, D:/proj/idea/musson/sass/style.sass */
.reviews {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}
/* line 730, D:/proj/idea/musson/sass/style.sass */
.reviews .button {
  height: 40px;
  border: 1px ridge transparent;
  display: inline-block;
  width: 250px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-top: -4px;
  background: orangered;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8600), color-stop(100%, #e02200));
  background: -webkit-linear-gradient(top, #ff8600, #e02200);
  background: -moz-linear-gradient(top, #ff8600, #e02200);
  background: -o-linear-gradient(top, #ff8600, #e02200);
  background: linear-gradient(top, #ff8600, #e02200);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #e02200;
}
/* line 742, D:/proj/idea/musson/sass/style.sass */
.reviews .button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6fb50b), color-stop(100%, #417300));
  background: -webkit-linear-gradient(top, #6fb50b, #417300);
  background: -moz-linear-gradient(top, #6fb50b, #417300);
  background: -o-linear-gradient(top, #6fb50b, #417300);
  background: linear-gradient(top, #6fb50b, #417300);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), inset 0 1px 0 #6fb50b;
  background-color: green;
}
/* line 747, D:/proj/idea/musson/sass/style.sass */
.reviews .button .arrow {
  background-image: url(../img/arrow.png);
  width: 36px;
  height: 33px;
  position: relative;
  bottom: 30px;
  left: 225px;
}
/* line 755, D:/proj/idea/musson/sass/style.sass */
.reviews .button .btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 243px;
  line-height: 90%;
  height: 32px;
  margin: 3px auto 4px 3px;
  padding-left: 8px;
  padding-bottom: 5px;
  border: dotted 1px white;
  color: white;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  background: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
}
/* line 771, D:/proj/idea/musson/sass/style.sass */
.reviews .wrapper {
  padding-top: 50px;
}
/* line 775, D:/proj/idea/musson/sass/style.sass */
.reviews .view {
  width: 470px;
  height: 550px;
  border: solid 1px lightgrey;
  margin-top: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 781, D:/proj/idea/musson/sass/style.sass */
.reviews .view .person {
  margin-top: 35px;
}
/* line 783, D:/proj/idea/musson/sass/style.sass */
.reviews .view .person img {
  float: left;
  margin-left: 35px;
  margin-bottom: 40px;
}
/* line 787, D:/proj/idea/musson/sass/style.sass */
.reviews .view .text {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
/* line 791, D:/proj/idea/musson/sass/style.sass */
.reviews .view .text p {
  margin: 0;
  font-size: 24px;
}
/* line 794, D:/proj/idea/musson/sass/style.sass */
.reviews .view .text a {
  font-size: 16px;
}
/* line 797, D:/proj/idea/musson/sass/style.sass */
.reviews .view .personBorder {
  background: url(../img/personBorder.png);
  width: 366px;
  height: 19px;
  margin-left: 40px;
}
/* line 802, D:/proj/idea/musson/sass/style.sass */
.reviews .view .personReview {
  margin-left: 30px;
  margin-right: 25px;
  margin-top: 30px;
  line-height: 1.2em;
}
/* line 808, D:/proj/idea/musson/sass/style.sass */
.reviews .view .personReview blockquote {
  font-size: 18px;
  padding: 0;
  font-style: italic;
  text-align: left;
  margin: 0;
  background: url(../img/openQuote.png) no-repeat;
  text-indent: 0;
}
/* line 818, D:/proj/idea/musson/sass/style.sass */
.reviews .view .personReview blockquote span {
  display: block;
  background: url(../img/closeQuote.png) bottom right no-repeat;
  padding-left: 30px;
  padding-right: 30px;
}

/* line 824, D:/proj/idea/musson/sass/style.sass */
.orderBottom {
  background: url(../img/order.jpg) center no-repeat;
}
/* line 831, D:/proj/idea/musson/sass/style.sass */
.orderBottom .form-cond .form-inner .caption p, .orderBottom #feedback .form-inner .caption p {
  margin-top: 15px;
  margin-bottom: 9px;
  line-height: 1.1em;
}
/* line 835, D:/proj/idea/musson/sass/style.sass */
.orderBottom .form-cond .form-inner .arrow, .orderBottom #feedback .form-inner .arrow {
  top: 228px;
}
/* line 839, D:/proj/idea/musson/sass/style.sass */
.orderBottom .wrapper {
  padding-top: 70px;
  height: 389px;
}
/* line 842, D:/proj/idea/musson/sass/style.sass */
.orderBottom .wrapper .form-inner {
  width: 500px;
}
/* line 844, D:/proj/idea/musson/sass/style.sass */
.orderBottom .wrapper .form-inner .form-cond, .orderBottom .wrapper .form-inner #feedback {
  height: 609px;
}
/* line 847, D:/proj/idea/musson/sass/style.sass */
.orderBottom .wrapper .shadow {
  top: 313px;
  padding-bottom: 0;
}
/* line 851, D:/proj/idea/musson/sass/style.sass */
.orderBottom .wrapper h5 {
  bottom: 20px;
  top: 0;
  width: 495px;
}

/* line 855, D:/proj/idea/musson/sass/style.sass */
.footer {
  margin-bottom: 30px;
}

/* line 861, D:/proj/idea/musson/sass/style.sass */
#feedback .form-inner .message .button .arrow {
  bottom: 55px;
}
/* line 863, D:/proj/idea/musson/sass/style.sass */
#feedback .form-inner .caption p {
  width: 240px;
}

/* line 866, D:/proj/idea/musson/sass/style.sass */
.animated {
  visibility: hidden;
}
